<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Home Tab -->
	<ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
		<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>

	<!-- Events Tab -->
	<ion-tab title="Events" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar" href="#/tab/Events">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

	<!-- Search Tab -->
	<ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
		<ion-nav-view name="tab-search"></ion-nav-view>
	</ion-tab>

</ion-tabs>